.galeria{
    .contenedores{
        width: 100%;
        display: flex; justify-content: center; flex-direction: row;
        position: relative;
    
            .services{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center; align-items: center;
            }
    }
}

